

body {
    margin: 0px;
    padding: 0px;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
}

img, embed, object, video, picture {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2, section h3, section p {
    padding-left: 15px;
}

.spacer {
    margin-top: 60px;
}

.txt-spacer {
    margin-top: 30px;
}
